/* THIS IS STYLE FOR MODAL */

.modal-body {
  background-color: #000000;
  text-align: center;
}

.modal-content {
  background-color: #000000;
  border: 0px;
  width: 100%;
  height: 100%;
}

.modal-footer {
  border: 0px;
}

.modal-header {
  border: 0px;
}

.btn-modal-register {
  color: white;
  background: rgba(205, 46, 113, 1);
}

.modal-title {
  color: white;
}

.modal-account {
  color: #b1b1b1;
  text-align: center;
}

.modal-register-group {
  background-color: grey;
}

.modal-register-group::placeholder {
  color: white;
}

.modal-account-here {
  color: white;
  cursor: pointer;
}

.btn-modal-login {
  color: white;
}

/* END OF MODAL STYLE */

/* .App {
  width: 700;
  padding: 30;
  display: block;
} */

/* ini lu cek lagi dah jumbotron */
.jumbotron {
  /* background-image: url("../src/Images/1484260.jpg"); */
  background-size: cover;
  height: 450px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* background-attachment: fixed; */
  /* background: linear-gradient(top, rgba(255,255,255,0.5), rgba(0,0,0,0.3)); */
  /* background: linear-gradient(to bottom, rgb(0,0,0) 30%, rgb(255,255,255) 100%); */
}

.jumbotron .container {
  color: #fff;
}

/* .jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
} */

/* this is top navbar */

.nav-img-center {
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none !important;
}

.df-brand {
  text-align: center;
}

.top-navbar {
  font-family: sans-serif;
}

.logo-admin-navbar {
  cursor: pointer;
}

/* this is homescreen */

.home-movies-card {
  background-color: black;
  color: white;
}

/* This is Admin Transaction  */

.admin-transaction-body {
  background-color: #1f1f1f;
  height: 100vh;
}

.admin-transaction-container {
  padding-top: 60px;
}

.admin-table-transaction {
  width: 1159px;
  height: 100px;
  margin-top: 0px;
  padding-top: 100px;
}

.admin-icon-polygon {
  width: 15px;
  height: 15px;
  left: 40px;
  top: 41px;
}

.admin-table-title {
  color: red;
}

/* this is admin add movies page */

.admin-add-movie-body {
  background-color: #1f1f1f;
  height: 100%;
  padding-bottom: 80px;
}

.admin-add-movie-title {
  color: white;
}
.admin-add-movie-button {
  float: right;
  width: 160px;
  height: auto;
}

.admin-add-movie-btn-add {
  color: red;
  font-weight: bold;
}

.admin-add-movie-thumb {
  background: #807f7f url("./Images/Icons/Attachment.png") no-repeat 95% 30%;
  border: 1.2px solid white;
  border-radius: 5px;
  width: 100%;
  height: 38px;
  padding: 0;
  margin: 0;
  position: relative;
}

.admin-add-movie-thumb-file {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}

.admin-add-movie-form {
  background-color: #807f7f;
  color: white;
}

.admin-add-movie-form::placeholder {
  color: white;
}

/* this is homescreen content css */

.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  background-size: cover;
  background-position: center center;
}

.banner_content {
  /* margin-left: 30px; */
  padding-top: 100px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_desc {
  width: 45rem;
  padding-top: 1rem;
  /* max-width: 360px; */
  /* height: 50px; */
  line-height: 1.3;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* .banner_button{
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
} */

.banner-fadeBottom {
  height: 18.5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.content_row {
  color: white;
}

/* .cards_row{
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  height: 100%;
  width: 100%;
} */

/* .cards_row::-webkit-scrollbar{
  display: none;
  width: 10;
} */

.img_size {
  object-fit: contain;
  max-height: 190px;
  margin-right: 30px;
  /* width: 100%; */
}

.img_size_tv_home {
  object-fit: cover;
  /* width: 100px; */
  height: 190px;
  width: 130px;
}

.card_item {
  text-decoration: none;
  color: white;
  transition: transform 450ms;
}

.card_item:hover {
  transform: scale(1.09);
  opacity: 1;
  color: white;
}

.app {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* this is movie details styling */

.trailer_movies {
  height: 35rem;
}

.ratio::before {
  visibility: hidden;
}

.trailer_movies iframe {
  padding: 40px;
}

.img {
  object-fit: contain;
  max-height: 240px;
  /* margin-right: 30px; */
}

.detail_desc {
  /* width: 45rem; */
  padding-top: 1rem;
  line-height: 1.2;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}

/* tv series details admin */

/* .tv-admin-container {
  background-color: #111;
  height: 97vh;
} */
